
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    box-sizing: border-box;
   
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* background-color: aquamarine; */
}

li {
    list-style-type: none
  }